h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.form-container {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
  /* width: 50%; */
  margin: auto;
  /* color: #efe1d1; */
  /* color: black; */
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.submit {
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #453c67;
  /* background: linear-gradient(#e66465, #9198e5); */

  font-size: 30px;
  margin-top: 50px;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.submit:hover {
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  /* border: 3px solid green; */
  /* background-color: #9f73ab; */
  background-color: #f4eee0;
  border-left-width: 5px;
  border-bottom-width: 5px;
  /* color: #d5cea3; */
  color: #393646;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.submit-container {
  position: relative;
  /* width: 100%; */
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  text-align: center;
}

/* * {
  border: 1px solid black;
} */

input {
  padding: 10px;
  border: 1px solid #393053;
  /* background-color: #50577a; */
  background-color: #9db2bf;
  /* color: #efe1d1; */
  outline-color: #18122b;
  /* outline: orange; */
  outline-style: solid;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  border-radius: 15px;
  margin: 3px;
}

::placeholder {
  /* color: #f5e8c7; */
  color: black;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid black;
  padding: 5rem;
  border-radius: 20%;
  border-left-width: 20px;
  border-bottom-width: 20px;
  border-color: #393053;
}

.form-div {
  display: block;
  text-align: center;
}

.container {
  /* background-color: orange; */
  width: fit-content;
  height: fit-content;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  /* background-color: #535c91; */
  background-color: #dde6ed;
  border-radius: 20%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.form-container input {
  color: black;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  background: #526d82;
}
