* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid black; */
  color: white;
}

body {
  background-image: url(../media/gaming-pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction {
  opacity: 80%;
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  top: 25%;
  left: 25%;
}

.head sup {
  font-size: 15px;
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
  position: relative;
  margin-top: 5%;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.introduction h2 {
  font-size: 40px;
  /* opacity: 90%; */
  /* color: white; */
}

.introduction h2,
p {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.introduction p {
  /* color: black; */
  /* opacity: 90%; */
  font-size: 23px;
  padding: 60px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background-image {
  background-image: url("/media/rtx4090\ Ti.jpeg");
  /* opacity: 0.5; */
  border-radius: 10px;
}

.about-us {
  /* background-color: orange; */
  width: 30%;
  margin: auto;
  padding: 40px;
  border-radius: 50%;
  position: relative;
  top: 20rem;
}
.about-us h2,
p {
  text-align: center;
}

button {
  color: black;
  width: 175px;
  height: 100px;
  font-size: 40px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  background-color: #76ef1d;
  opacity: 75%;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  top: 500px;
  transition: width 2s, height 2s, transform 2s;
}

button:hover {
  background-color: #1689f5;
  opacity: 90%;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  color: black;
  /* width: 175px; */
  /* height: 100px; */
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  /* width: 300px; */
  /* height: 300px; */
  transform: rotate(360deg);
}

.button1 {
  position: relative;
  /* background-color: orange; */
  width: 175px;
  height: 100px;
  margin: auto;
}
